:root {
    --base: #7498AB;
    --dkbase1: #4C788F;
    --dkbase2: #2C5A73;
    --dkbase3: #17445C;
    --dkbase4: #052C40;
    --ltbase1: #A7C1CF;
    --ltbase2: #D7E4EB;
    --accent: #fef155;
}

body {
    background-color: var(--base);
    font-family: "Nunito", sans-serif;
}

/* Navigation */

@media screen and (max-width: 991px) {
    #mainNavbar {
        background: var(--dkbase2);
    }
}

.navbar {
    transition: 0.25s;
}

.navbar.scrolled {
    background-color: var(--dkbase4);
}

.navbar-light .navbar-brand:hover {
    transition: 0.25s;
    color: rgba(255, 255, 255, 75);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 75);
}

.navbar-dark .navbar-nav .nav-link.text-ltblue1, .text-ltblue1 {
    color: var(--ltbase1);
}

.navbar-dark .navbar-nav .nav-link.text-ltblue2, .text-ltblue2 {
    color: var(--ltbase2);
}

.navbar-dark .navbar-nav .nav-link.text-dkblue1, .text-dkblue1 {
    color: var(--dkbase1);
}

.navbar-dark .navbar-nav .nav-link.text-dkblue2, .text-dkblue2 {
    color: var(--dkbase2);
}

.navbar-dark .navbar-nav .nav-link.text-dkblue3, .text-dkblue3 {
    color: var(--dkbase3);
}

.navbar-dark .navbar-nav .nav-link.text-dkblue4, .text-dkblue4 {
    color: var(--dkbase4);
}

.navbar-dark .navbar-nav .nav-link.text-yellow, .text-yellow {
    color: var(--accent);
}

.text-upper {
    text-transform: uppercase;
}

.navbar, .navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {
    .navbar, .navbar .navbar-brand {
        font-size: 1.4rem;
    }
}

.navbar .navbar-brand {
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
    transition: 0.25s;
    color: white;
}

img.cfs-icon {
    max-width: 1.5rem;
}

/* Logo Group */

#logoGroup h1 {
    font-weight: 100;
}

#logoGroup span {
    color: var(--accent);
}

/* Blurbs */

.content.alternate-bg {
    background-color: var(--dkbase1);
}

.blurb h2, .blurb p {
    color: white;
    font-weight: 100;
}

.blurb h2 {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}

.blurb .fas {
    color: var(--accent);
}

.blurb p {
    font-size: 1.125rem;
    line-height: 2.0;
}